# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large datasets
dataset/
*.parquet

# Large trained model
model.pkl

# Environment/secrets
.env
